$primary-color: #363C52;
$accent-color: #008D36;
$primary-light-color: rgba($primary-color, .7);
$accent-light-color: rgba($accent-color, .5);
$bg-image: rgba($primary-color, .2);
$bg-color: #FCFCFD;
$white: #fff;
$font: 'Roboto', sans-serif;
