
.admin {
  &-wrapper {
    max-width: 1200px;
    padding: 0 22px;
    margin: 0 auto;
  }
  &-header {
    padding-top: 22px;
    padding-bottom: 18px;
    display: flex;
  }
  &-button {
    background: $primary-color;
    color: $white;
    font-family: $font;
    font-weight: 500;
    border: none;
    padding: 6px 16px;
    border-radius: 4px;
    transition: .2s background ease-in-out;
    &:hover {
      background: $primary-light-color;
    }
    &-danger {
      background: $danger-color;
      &:hover {
        background: lighten($danger-color, 10%);
      }
    }
    &-end {
      margin-left: auto
    }
    &-publish {
      padding: 10px 20px;
      font-weight: 600;
      margin-top: 14px;
      margin-bottom: 6px;
    }
  }
  &-input {
    box-sizing: border-box;
    display: block;
    margin: 6px 0;
    background: darken($bg-color, 4%);
    color: $primary-color;
    font-family: $font;
    font-size: 14px;
    border: 1px $primary-color solid;
    padding: 6px 16px;
    border-radius: 4px;
    width: 100%;
    &-file {
      color: transparent;
      display: block;
      margin: 6px 0;
      &::-webkit-file-upload-button {
        visibility: hidden;
      }
      &:hover::before {
        background: $primary-light-color;
      }
      &::before {
        content: 'Selecteer afbeelding';
        display: inline-block;
        color: $white;
        background: $primary-color;
        padding: 6px 16px;
        border-radius: 4px;
        font-weight: 500;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        transition: .2s background ease-in-out;
      }
    }
  }
  &-label {
    font-size: 14px;
    color: $primary-light-color;
    span {
      margin-left: 8px;
      color: $primary-color;
    }
  }
  &-categories {
    margin: 6px 0;
    button {
      width: 46px;
      height: 46px;
      background: none;
      border: none;
      padding: 0;
      margin-right: 12px;
      filter: grayscale(100%);
      opacity: 0.26;
      transition: .3s ease-in-out opacity;
      &.active {
        filter: none;
        opacity: 1;
      }
      img {
        width: 100%;
      }
    }
  }
  &-image {
    &-header, &-cover {
      background: $bg-image;
      margin: 6px 0;
      border-radius: 8px;
      width: 100px;
      height: 100px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &-header {
      width: 200px;
      height: 100px;
    }
  }
  &-container {
    padding-bottom: 28px;
    &-header {
      margin-bottom: 14px;
      display: flex;
      align-items: center;
      h3 {
        margin: 0;
      }
    }
  }
  &-feedback {
    margin: 0;
    margin-bottom: 12px;
    font-size: 12px;
    color: $danger-color;
    &-dark {
      color: $primary-light-color;
    }
  }
  // login
  &-login {
    position: relative;
    width: 100%;
    height: 100vh;
    &-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      width: 240px;
    }
  }
}

#route-map {
  height: 600px;
  width: 100%;
  margin: 6px 0;
}