@import 'variables';
@import 'admin';
@import 'oranjenassau';

::-moz-selection {
  background: $accent-light-color;
}
::selection {
  background: $accent-light-color;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
  color: $primary-color;
  font-family: $font;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  outline: none;
}
a {
  color: $primary-color;
  text-decoration: none;
}
input {
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
  background: transparent;
  color: $primary-color;
  &::placeholder {
    color: rgba($primary-color, .25);
  }
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index: -2;
}
.wrapper {
  position: relative;
  max-width: 425px;
  margin: 0 auto;
  padding: 0 22px;
}
.logo-color {
  fill: $primary-color;
}
.icon-color {
  fill: $accent-color;
}
.divider {
  display: inline-block;
  margin: 2px 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: $accent-light-color;
}
.icon-button {
  background: transparent;
  border: $accent-color 1px solid;
  border-radius: 12px;
  padding: 7px;
  width: 50px;
  height: 50px;
  transition: all .3s ease-in-out;
  svg {
    width: 100%;
  }
  &:hover {
    background: rgba($accent-color, .15);
  }
  &:active {
    background: rgba($accent-color, .05);
  }
  &.active {
    background: $accent-color;
    .icon-color {
      fill: $bg-color;
    }
  }
}
.main {
  &-header {
    margin-top: 72px;
    &.oranjenassau {
      margin-top: 26px;
      .wrapper {
        text-align: center;
        a {
          width: 100%;
        }
      }
    }
    .wrapper {
      display: flex;
      align-items: center;
      min-height: 50px;
    }
    .right-content {
      margin-left: auto;
      .icon-button {
        margin-left: 22px;
      }
    }
  }
  &-footer {
    text-align: center;
    opacity: .45;
    margin: 24px 0;
    &-logo {
      svg {
        width: 56%;
      }
    }
    &-info {
      font-size: 12px;
      margin-top: 18px;
      .divider {
        background: $primary-light-color;
      }
      a {
        text-decoration: underline;
      }
    }
  }
}
.not-found {
  margin-top: 18vh;
  a {
    color: $accent-color;
    text-decoration: underline;
  }
}
.search-wrapper {
  position: relative;
  width: 100%;
  height: 45px;
  display: flex;
  margin: 22px 0;
  background: rgba($primary-color, .05);
  background: linear-gradient(90deg,  rgba($primary-color, .08), rgba($primary-color, .03));
  border-radius: 12px;
  input {
    font-size: 18px;
    padding-left: 18px;
    width: 100%;
  }
  .search-button {
    width: 60px;
    background: transparent;
    border: none;
    padding: 0 18px;
    .icon-color {
      width: 100%;
      fill: $primary-color;
    }
  }
}
.route-list {
  width: 100%;
  &-loading {
    pointer-events: none;
    min-height: 282px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.route-item {
  padding: 14px;
  background: $white;
  box-shadow: 0px 4px 6px rgba($primary-color, .1);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  &-image {
    background-color: $bg-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    min-width: 90px;
    height: 90px;
    width: 90px;
  }
  &-info {
    margin-left: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &-top h2 {
      font-size: 21px;
      margin: 0;
      overflow: hidden;
    }
    &-bottom {
      height: 20px;
      margin-top: auto;
      display: flex;
      align-items: flex-end;
      .content {
        color: $accent-color;
        font-size: 12px;
        &-icon {
          margin-left: auto;
          height: 100%;
          svg {
            height: 100%; 
          }  
        }
      }
    }
  }
  &-normal {
    margin-bottom: 14px;
    transition: box-shadow .3s ease-in-out;
    .route-item {
      &-info {
        &-top h2 {
          height: 56px;
        }
      }
    }
    &:hover {
      box-shadow: 0px 6px 8px rgba($primary-color, .15);
    }
  }
  &-small {
    border-radius: 10px 10px 0 0;
    .route-item {
      &-image {
        min-width: 52px;
        height: 52px;
        width: 52px;
      }
      &-info {
        &-top h2 {
          height: 28px;
        }
      }
    }
  }
}
.route-filter {
  background: $white;
  border-radius: 10px;
  padding: 14px 7px;
  box-shadow: 0px 4px 6px rgba($primary-color, .1);
  margin-bottom: 12px;
  &-wrapper {
    display: flex;
    flex-direction: row;

  }
  &-item {
    margin: 0px 7px;
    background: transparent;
    padding: 6px 12px;
    border: none;
    color: $primary-color;
    border-radius: 12px;
    transform: all .3s ease-in-out ;
    &.selected {
      background-color: $accent-color;
      color: $white;
    }
  }
}
.routes {
  &-header {
    margin-bottom: 18px;
    margin-top: 22px;
    &-image {
      position: relative;
      height: 200px;
      background-color: $bg-image;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      margin-bottom: 6px;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        border-radius: 10px;
        background: rgba($primary-color, .1);
        background: linear-gradient(transparent, rgba($primary-color, .45))
      }
      h1 {
        position: absolute;
        color: $white;
        font-size: 24px;
        padding: 18px;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    span {
      font-size: 12px;
      color: $primary-light-color;
    }
  }
}
.route-page {
  &-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.4);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-button {
    font-size: 14px;
    font-weight: 500;
    border: none;
    font-family: $font;
    background: $white;
    color: $primary-color;
    box-shadow: 0px 4px 6px rgba($primary-color, .1);
  }
  &-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &-info {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 21px;
    border-radius: 50%;
  }
  &-actions {
    display: flex;
    margin: 0 -10px; 
    margin-bottom: 12px;
    .route-page-button {
      text-align: center;
      width: 50%;
      padding: 12px 0;
      margin: 0 10px;
      border-radius: 10px;
    }
  }
}
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background:  rgba($primary-color, .4);
  .wrapper {
    height: 100%;
  }
  &-close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 21px;
    color: $primary-light-color;
    line-height: 1;
    padding: 0;
    background: transparent;
    border: none;
  }
  &-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &-body { 
    position: relative;
    max-height: 80vh;
    overflow: auto;
    border-radius: 10px;
    background: $bg-color;
  }
  &-info {
    padding: 14px;
    margin: 14px 0;
    header {
      margin-bottom: 18px;
      h2 {
        margin: 0;
        line-height: 1;
        font-size: 24px;
      }
      span {
        font-size: 14px;
        color: $primary-light-color;
      }
    }
    .contact {
      &-info {
        font-weight: 500;
        width: 100px;
        display: inline-block;
      }
      li {
        margin-bottom: 8px;
        a {
          color: $accent-color;
          text-decoration: underline;
        }
      }
    }
  }
}
.route-point {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $white;
  width: 26px;
  height: 26px;
  line-height: 28px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  border-radius: 50%;
  border: 3.5px solid $accent-color;
  color: $accent-color;
  &.hex {
    font-weight: 500;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    background-image: url('./assets/images/hexagon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
  }
}
.user-point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $accent-color;
  border: 3px $white solid;
  box-shadow: 0 0 18px rgba($accent-color, .6);
}
.marker {
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  &-ster {
    background-image: url('./assets/images/icons/ster.png');
  }
  &-bestek {
    background-image: url('./assets/images/icons/bestek.png');
  }
  &-klaver {
    background-image: url('./assets/images/icons/klaver.png');
  }
  &-bed {
    background-image: url('./assets/images/icons/bed.png');
  }
  &-tent {
    background-image: url('./assets/images/icons/tent.png');
  }
}
.map-footer {
  text-align: center;
  margin: 28px 0;
  li {
    margin-bottom: 8px;
    a {
      color: $accent-color;
      text-decoration: underline;
    }
  }
}